<header>
    <div class="container text-center">
        <h1>BizKit : Tools for Business</h1>
        <nav id="main-nav">
            <a href="/" class="<%= currentPath === '/' ? 'active' : '' %>">Home</a>
            <a href="/pricing" class="<%= currentPath === '/pricing' ? 'active' : '' %>">Pricing</a>
            <a href="/plan-and-milestones" class="<%= currentPath === '/plan-and-milestones' ? 'active' : '' %>">Milestones & Modules</a>
            <a href="/contact-us" class="<%= currentPath === '/contact-us' ? 'active' : '' %>">Contact</a>
            <a href="/invoices" class="<%= currentPath === '/invoices' ? 'active' : '' %>">Invoice</a>
        </nav>
        <div class="user-actions">
            <span href="/login" class="btn btn-primary">Login</span>
            <span href="/register" class="btn btn-secondary">Register</span>
        </div>
    </div>
</header>